###
# Unity folders and files
###
/OktaPong/[Aa]ssets/AssetStoreTools*
/OktaPong/[Bb]uild/
/OktaPong/[Ll]ibrary/
/OktaPong/[Ll]ocal[Cc]ache/
/OktaPong/[Oo]bj/
/OktaPong/[Tt]emp/
/OktaPong/[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
